{{#vendorExtensions}}{{#x-secured}}@org.springframework.security.access.prepost.PreAuthorize("{{{x-secured}}}"){{/x-secured}}{{#x-postAuthorize}}
  @org.springframework.security.access.prepost.PostAuthorize("{{{x-postAuthorize}}}"){{/x-postAuthorize}}{{/vendorExtensions}}